@font-face {
    font-family: 'Inter';
    src: url('./font/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
}

img {
    width: 30rem;
    height: 22rem;
    height: 100%;
    border-radius: 20px;
}

div.my-tour {
    text-align: center;
}

.search-zone {
	display: flex;
	align-items: center;
	width: 100%;
	height: 7rem;
	justify-content: space-evenly;
}

.search-area {
	display: flex;
	width: 30rem;
	height: 3.5rem;
	border: 2px solid #333;
	border-radius: 22px;
	justify-content: space-between;
}
/* 입력창의 너비 */
.search-input {
	font-size: 16px;
	width: 300px;
	border-radius: 20px;
	border: none;
	margin-left: 1rem;
	outline: none;
}

/* 포커스 시 기본 윤곽선 제거 */
.search-button {
	background-color: #ffeedb;
	color: #333;
	border: none;
	padding: 13px 25px;
	border-radius: 20px;
}

/* 버튼 호버 시 색상 변경 */
.search-button:hover {
	background-color: #d3c5b5;
}

.align-button {
    margin-top: 5rem;
    border: 1px solid black;
    border-radius: 10px;
    width: 29rem;
    height: 3.7rem;

}

.align-button-text {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.border {
    margin: 0 auto;
    width: 90rem;
    border-top: 1px solid #000;
}

.list-view-option {
	display: flex;
	gap: 10px; /* Space between each item */
	font-family: Arial, sans-serif;
	font-size: 14px;
	justify-content: flex-end;
	margin-top: 2rem;
	margin-bottom: 0.5rem;

}

.tour{
	margin-left : 1rem;
}

.list-view-option div {
	color: #333;
}

.list-view-option div::after {
	content: "|";
	margin-left: 0.8rem;
	color: #333;
}

.list-view-option div:last-child::after {
	content: "";
}

.list-view-option a {
	text-decoration: none;
}

.list-view-option a:hover {
	color: blue;
}

.tour-box {
    display: flex;
    border: 1px solid #BBBBBB;
    border-radius: 20px;
    height: 25rem;
    margin-bottom: 2rem;
    flex-grow: 0;
    padding: 39px 95px 39px 39Spx;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}

.my-tour>.tour-box {
    margin-top: 1rem;
}

.tour-box > .tour-contents {
    text-align: left;
    padding-top: 2rem;
    padding-left: 2rem;
}

.tour-contents-text {
    margin: 1rem;
    margin-left: 0;
}

.tour-contents-text > span {
	font-weight: 600;
}
.page-nav {
	margin: 0;
	padding: 0;
	text-align: center;
	display: flex;
	align-items: center;
    justify-content: center;
    text-decoration: none;
}

.page-nav > li {
	list-style: none;
	padding: 0.5rem;
	flex: 1, 1, 0;
	
}

.page-nav > li.active > a {
	color: #f00a;
	font-weight: 900;
}