@font-face {
	font-family: "Inter";
	src: url("./font/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
}

.search-title h1 {
	text-align: center;
	margin-bottom: 0;
}

img {
	width: 20rem;
    height: 15rem;
	border-radius: 10px;
}

.wave {
	text-align: center;
	margin-top : 0.2rem;
}

.inline-margin {
  	display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0 0.4rem 0 0.4rem;
}

.inline-margin img {
    margin-top: 0.6rem;
    width: 1rem;
    height: 1rem;
}

input.checked2 {
	color: #00a8;
	font-weight: bold;
}

.flex-list-insert-btn {
	display: flex;
	align-items: center;
	width: 78%;
	justify-content: space-between;
	margin: 0 auto;
}

.insert-tour-btn {
  background-color: #57a8f2;
  color: #fff;
  padding: 0.8rem 1rem;
  font-size: small;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.insert-tour-btn:hover {
  background-color: #a8cff2;
}

div.my-tour {
	text-align: center;
	display: flex;
	flex-direction: column;
}

.search-zone {
	display: flex;
	align-items: center;
	width: 100%;
	height: 7rem;
	justify-content: space-evenly;
}

.search-area {
    display: flex;
    width: 30rem;
    height: 3.5rem;
    border: 1px solid #aaa;
    border-radius: 10px;
    justify-content: space-between;
}

.search-area>select {
	border: 0;
	border-radius: 22px;
	outline: none;
	margin-left: 0.5rem;
}

/* 입력창의 너비 */
.search-input {
	font-size: 16px;
	width: 300px;
	border-radius: 20px;
	border: none;
	margin-left: 1rem;
	outline: none;
}

/* 포커스 시 기본 윤곽선 제거 */
.search-button {
  background-color: #ffeedb;
  color: #333;
  border: none;
  padding: 13px 25px;
  border-radius: 10px;
}

/* 버튼 호버 시 색상 변경 */
.search-button:hover {
  background-color: #d3c5b5;
}

.align-button {
	margin-top: 5rem;
	border: 1px solid black;
	border-radius: 10px;
	width: 29rem;
	height: 3.7rem;
}

.align-button-text {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}

.border {
	margin: 0 auto;
	width: 90rem;
	border-top: 1px solid #000;
}

.list-view-option {
	display: flex;
	font-family: Arial, sans-serif;
	font-size: 14px;
	margin-top: 3rem;
	margin-bottom: 3rem;
	justify-content: space-between;
}

.list-view-option input {
	border: none;
	background-color: #FFF;
}

.list-view-option input:first-child {
	border: 0;
}

.list-view-option input:hover {
	color: #00a;
	cursor: pointer;
}

.region-menu-area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78%;
  margin: 0 auto;
}

.region-menu-area input {
  padding: 1rem 0;
  width: 9rem;
  text-align: center;
  font-size: 1rem;
  border: 2px solid #d7d7d7;
  border-bottom: 2px solid #333;
  background-color: #fff;
  color: #333;
}

.region-menu-area input:hover {
  color: #00a;
  cursor: pointer;
}

.region-menu-area input.checked {
  border: 2px solid #333;
  border-bottom: 0px;
  color: #00aa;
  font-weight: bold;
}

.checked2 {
  color: #00a8;
  font-weight: bold;
}

.tour {
	margin-left: 1rem;
}

.list-view-option div::after {
	content: "|";
	color: #333;
	margin-right: 0.2rem;
}

.list-view-option div:last-child::after {
	content: "";
}

.list-view-option a {
	text-decoration: none;
}

.list-view-option a:hover {
	color: blue;
}

.tour-box {
	display: flex;
	border: 1px solid #bbbbbb;
	border-radius: 5px;
	flex-grow: 0;
	padding: 1rem;
	width: 78%;
	margin: 0 auto;
	margin-bottom: 2rem;
}

.tour-right-info {
	display: flex;
    flex-direction: column;
    text-align: right;
}

.tour-box-right-content {
	display : flex;
	width: 30rem;
	text-align: right;
	flex-direction: column;
    justify-content: space-between;
}

.tour-box-right-content h3 {
	margin-top: 0.3rem; 
}

.tour-time {
	display: flex;
	align-items: center;
}

.clock-img {
	width: 1.2rem;
	height: 1.2rem;
	margin-right: 0.4rem;
}

.rating-area {
	display: flex;
	align-items: center;
	height: 1rem;
}

.rating-area h5 {
	margin-left: 0.4rem;
	font-weight: bold;
}

.tour-box-content {
	display: flex;
	text-align: left;
	width: 40rem;
	margin-left: 1rem;
}

.tour-contents {
	display: flex;
	text-align: left;
	flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid #ddd;
    padding-left: 1rem;
    
}

.tour-box:hover {
	cursor: pointer;
}


.rating-ttl{
	width: 30rem;
	overflow-wrap: break-word;
}

.rating-ttl h3 {
	margin-top: 1rem;
    margin-bottom: 1rem;
      overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /*몇 번째 줄부터 ...으로 표시할 것인지 설정 가능*/
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

}

.tour-contents-info {
	display: flex;
	font-size: 0.8rem;
	align-items: flex-end;
    justify-content: flex-start;
}

.asd {
	margin-left: 4rem;
}

.asd div {
	margin-bottom: 0.5rem;
}

.tour-contents-ctr {
	margin-left : 0.2rem;
}

.asd:first-child {
	margin-left: 0;
}

.star-icon {
	width: 1.5rem;
	height: 1.5rem;
}

.rating-ttl p {
	color: #4d4d4d;
	font-size: 0.8rem;
}

.star-review {
	font-weight: bold;
	margin-left: 0.4rem;
}

.tour-contents-prc {
	font-weight: bold;
}

.tour-contents-prc	 > h2 {
	margin-top: 0;
}

.tour-contents-info span {
	font-weight: bold;
}

.tour-contents-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /*몇 번째 줄부터 ...으로 표시할 것인지 설정 가능*/
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.page-nav {
	margin: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-nav>li {
	list-style: none;
	padding: 0.5rem;
	flex: 1, 1, 0;
}

.isempty {
  display: flex;
  grid-column: 1 / -1;
  justify-content: center;
  color: red;
}
.page-nav>li.active>a {
	color: #f00a;
	font-weight: 900;
}