.picRealArea {
    display: flex;
    overflow: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.moreImgArea img {
    width: 30rem;
    height: 30rem;
    margin-bottom: 1rem;
    border-radius: 1.1rem;
}

.reviewWriteModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 투명한 배경 적용 */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.reviewWritingArea {
  width: 30rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* 그림자 추가 */
  position: relative; /* 부모 요소 내에서 배치 */
  text-align: center;
}

.reviewWritingArea > h2 {
  font-size: 1.3rem;
}

.reviewWritingArea > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -4rem 0 0 0;
}

.starRating {
  width: 30rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  margin: 0 0 2rem 0;
}

.modal-star {
  width: 1.5rem;
  height: 1.5rem;
  margin: 1rem 0.5rem 0 0;
}

.starThree {
  width: 3.4375rem;
  font-size: 3.4375rem; /* 별 크기 조정 */
  margin: 1rem;
  cursor: pointer;
  background: url("/public/StarOff.png") no-repeat center;
  background-size: 3.4375rem;
}

.starThree.on {
  width: 3.4375rem;
  font-size: 3.4375rem;
  margin: 1rem;
  background: url("/public/Star.png") no-repeat center;
  background-size: 3.4375rem;
}

.starBox {
  width: 25rem;
  min-height: 12rem;
  box-sizing: border-box;
  display: inline-block;
  margin: -1rem 0 2rem 0;
  background: #f3f4f8;
  border: 0;
  border-radius: 10px;
  height: 100px;
  resize: none;
  padding: 15px;
  font-size: 13px;
  font-family: sans-serif;
  overflow: auto;
}

.reviewSubmitButton {
  display: block;
  width: 25rem;
  font-weight: bold;
  border: 0;
  border-radius: 10px;
  max-height: 50px;
  padding: 15px 0;
  font-size: 1.1em;
  text-align: center;
  background: bisque;
  cursor: pointer; /* 클릭 가능하게 */
}

.picModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 투명한 배경 적용 */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.more-picModal {
	display: flex;
	flex-direction: column;
	  padding: 1.25rem;
  width: 100%;
  height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 투명한 배경 적용 */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}


.picArea {
  width: 30rem;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: none;
  border-bottom-left-radius: 1.25rem; /* 모서리 둥글게 */
  border-bottom-right-radius: 1.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* 그림자 추가 */
  position: relative; /* 부모 요소 내에서 배치 */
  text-align: center;
}

.picArea > img {
  width: 50rem;
  height: 40rem;
  border-radius: 1.25rem;
  margin: -5rem 0 0 0;
  object-fit: cover;
}

.viewAllReviewModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 투명한 배경 적용 */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.allReviewArea {
  width: 60rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* 그림자 추가 */
  position: relative; /* 부모 요소 내에서 배치 */
  text-align: center;
  overflow: auto;
}

.reviewListArea {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem 0 1rem 0;
  background-color: #ffeedb;
  border-radius: 1.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* 그림자 추가 */
  position: relative; /* 부모 요소 내에서 배치 */
  text-align: center;
}

.closeButtonArea {
  width: 30rem;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  text-align: right;
}

.picCloseButtonArea {
  width: 60rem;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: none;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  text-align: right;
}

.morePicCloseButtonArea {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: none;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  text-align: right;
}

.closeReviewListButtonArea {
  width: 60rem;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  text-align: right;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
}

.closeReviewListButtonArea h2 {
  margin: 0 auto;
  position: relative;
  left: 2.5rem;
}

img.closeButton {
  width: 2.5rem;
  height: 2.5rem;
  margin: 1rem;
  cursor: pointer;
}

img.picCloseButton {
    position: fixed;
    right: 5rem;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    filter: invert(100%) sepia(93%) saturate(22%) hue-rotate(344deg) brightness(105%) contrast(100%);
}

.oneReview {
  width: 90%;
  height: auto;
  margin: 1rem 0 1rem 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0.125rem solid #ffeedb;
  border-radius: 1.25rem;
}

.oneReviewRating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.oneReviewRatingCount {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1.2rem 0 0 0;
}

.reviewerNameArea {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 1.2rem 0 0 2rem;
}

.reviewerAllPicArea {
  width: 80%;
  height: auto;
}

.reviewerPicturesArea {
  width: 80%;
  height: auto;
}

.reviewerPicturesAreas {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.reviewerPicArea {
  width: 55%;
  height: auto;
  margin: 1rem 0.25rem 1rem 0.25rem;
  object-fit: cover;
}

.reviewerPicture {
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
  object-fit: cover;
}

.oneReviewTextArea {
  width: 80%;
  height: 25%;
  margin: 1rem;
  padding: 1rem;
  background-color: #f3f4f8;
  outline-style: none;
  border-radius: 0.25rem;
  overflow: auto;
}

.oneReviewTextArea > span {
  font-size: 1rem;
  margin: 1rem;
}

.hidden {
  display: none; /* 모달 숨기기 */
}
