<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.mate.bbs.dao.CountriesAndCitiesDao">

	<select id="selectAllCountries" 
			resultType="com.mate.common.vo.CountriesVO">
		SELECT ID 
		     , NAME 
		     , KOR_NAME 
		  FROM COUNTRIES
	</select>
	
	<select id="selectCountriesCount"
			resultType="_int">
		SELECT COUNT(1)
  		  FROM COUNTRIES		
	</select>

</mapper>