<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.mate.bbs.dao.CountriesAndCitiesDao">

	<select id="selectAllRegions"
			resultType="com.mate.common.vo.RegionsVO">
		SELECT REGION_ID 
			 , REGION_NAME 
		  FROM REGIONS
	</select>

	<select id="selectRegionsCount"
			resultType="_int">
		SELECT COUNT(1)
  		  FROM REGIONS
	</select>

	<select id="selectCountries"
			parameterType="_int"
			resultType="com.mate.common.vo.CountriesVO">
		SELECT COUNTRY_ID 
		     , COUNTRY_NAME 
		     , REGION_ID 
		  FROM COUNTRIES
		 WHERE REGION_ID = #{_parameter}
		 ORDER BY COUNTRY_NAME
	</select>
	
	<select id="selectCountriesCount"
			parameterType="_int"
			resultType="_int">
		SELECT COUNT(1)
		  FROM COUNTRIES
		 WHERE REGION_ID = #{_parameter}
	</select>
	
	<select id="selectCities"
			parameterType="_int"
			resultType="com.mate.common.vo.CitiesVO">
		SELECT CITY_ID 
		     , CITY_NAME 
		     , COUNTRY_ID 
		  FROM CITIES
		 WHERE COUNTRY_ID = #{_parameter}
		 ORDER BY CITY_NAME
	</select>
	
	<select id="selectCitiesCount"
			parameterType="_int"
			resultType="_int">
		SELECT COUNT(1)
		  FROM CITIES
		 WHERE COUNTRY_ID = #{_parameter}
	</select>

<!--	<select id="selectTopDestinations"-->
<!--			resultType="com.mate.common.vo.TopDestinationVO">-->
<!--		SELECT *-->
<!--		  FROM ( SELECT C.CITY_NAME AS "City Name",-->
<!--		  		  		COUNT(DISTINCT G.GD_TR_PST_ID) AS "Number of Tours",-->
<!--		  		  		COUNT(DISTINCT U.USR_TR_PST_ID) AS "Number of Requests",-->
<!--		  		  		(COUNT(DISTINCT G.GD_TR_PST_ID) + COUNT(DISTINCT U.USR_TR_PST_ID)) AS total_count-->
<!--		  		   FROM CITIES C-->
<!--		  		   LEFT JOIN GD_TR_RCRT G-->
<!--		  		     ON C.CITY_ID = G.TR_CT_ID-->
<!--		  		   LEFT JOIN USR_TR_RQST U-->
<!--		  		     ON C.CITY_ID = U.TR_CT_ID-->
<!--		  		  GROUP BY C.CITY_NAME-->
<!--				 HAVING COUNT(DISTINCT G.GD_TR_PST_ID) > 0-->
<!--		  		     OR COUNT(DISTINCT U.USR_TR_PST_ID) > 0-->
<!--		  		  ORDER BY total_count DESC )-->
<!--		 WHERE <![CDATA[ROWNUM <= 10]]>-->
<!--	</select>-->

	<!-- 국가 이름으로 검색 -->
	<select id="searchCountriesByName" parameterType="string" resultType="com.mate.common.vo.CountriesVO">
		SELECT COUNTRY_ID
			 , COUNTRY_NAME
			 , REGION_ID
		  FROM COUNTRIES
		 WHERE COUNTRY_NAME LIKE #{query}
		 ORDER BY COUNTRY_NAME
	</select>

	<!-- 도시 이름으로 검색 -->
	<select id="searchCitiesByName" parameterType="string" resultType="com.mate.common.vo.CitiesVO">
		SELECT CITY_ID
			 , CITY_NAME
			 , COUNTRY_ID
		  FROM CITIES
		 WHERE CITY_NAME LIKE #{query}
		 ORDER BY CITY_NAME
	</select>



</mapper>