<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mate.bbs.dao.UserTourDao">
	
	<resultMap id="userTourVOMap" 
			   type="com.mate.bbs.vo.UserTourVO"
			   autoMapping="true">
		<id column="USR_TR_PST_ID" property="usrTrPstId" />
		<association property="userVO"
					 javaType="com.mate.user.vo.UserVO"
					 autoMapping="true">
			<id column="USR_ID" property="usrId" />
		</association>
		<collection property="userTourImgList"
					ofType="com.mate.bbs.vo.UserTourImgVO"
					autoMapping="true">
			<id column="USR_TR_RQ_IMG_ID" property="usrTrRqImgId" />
		</collection>
		<collection property="userTourSchdlList"
					ofType="com.mate.bbs.vo.UserTourSchdlVO"
					autoMapping="true">
			<id column="TR_SCHDL_ID" property="trSchdlId" />
		</collection>
	</resultMap>
	
	<sql id="selectSubjectAndContent">
		WHERE 1 = 1
	<if test='searchKeyword != null and searchKeyword != ""'>
		  AND (UTR.USR_TR_TTL LIKE '%' || #{searchKeyword} || '%'
		   OR UTR.USR_TR_PRPS LIKE '%' || #{searchKeyword} || '%')
	</if>
	</sql>
	
	<insert id="insertNewUserTour"
			parameterType="com.mate.bbs.vo.UserTourWriteVO">
		INSERT INTO USR_TR_RQST 
		 (USR_TR_PST_ID
		, ATHR_ID
		, GD_ID
		, USR_TR_TTL
		, USR_TR_DT
		, USR_TR_PRPS
		, USR_TR_MP
		, USR_TR_GD_HR_PRC
		, USR_TR_NP
		, USR_TR_TM
		, USR_TR_IS_DLT
		, USR_TR_RSTR_DT
		, TR_CT_ID
		, USR_TR_RQ_DTL)
		VALUES
		 ('UT-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_USR_TR_RQST_PK.NEXTVAL, 6, 0)
		, '1'
		, NULL
		, #{usrTrTtl}
		, TO_DATE(#{usrTrDt}, 'YYYY-MM-DD')
		, #{usrTrPrps}
		, #{usrTrMp}
		, #{usrTrGdHrPrc}
		, #{usrTrNp}
		, #{usrTrTm}
		, 'N'
		, SYSDATE
		, #{trCtId}
		, #{usrTrRqDtl})
	</insert>
	
	<select id="selectOneUserTour"
			parameterType="string"
			resultMap="userTourVOMap">
		SELECT UTR.USR_TR_PST_ID
		     , UTR.ATHR_ID
		     , UTR.GD_ID
		     , UTR.USR_TR_TTL
		     , UTR.USR_TR_DT
		     , UTR.USR_TR_PRPS
		     , UTR.USR_TR_MP
		     , UTR.USR_TR_GD_HR_PRC
		     , UTR.USR_TR_NP
		     , UTR.USR_TR_RSTR_DT
		     , UTR.USR_TR_MDFY_DT
		     , UTR.USR_TR_DLT_DT
		     , UTR.TR_CT_ID
		     , UTR.USR_TR_RQ_DTL 
		     , UTR.GD_GNDR 
		     , UTR.GD_AGE 
		     , UTR.GD_CRR 
		     , UTR.GD_WNT_RQ 
		     , UTRI.USR_TR_RQ_IMG_ID_URL
		     , UI.USR_LNM 
		     , UI.USR_FNM 
		     , TS.TR_LCTNS 
		     , TS.TR_RQST 
		  FROM USR_TR_RQST UTR
		  LEFT JOIN USR_TR_RQST_IMG UTRI
		    ON UTR.USR_TR_PST_ID = UTRI.USR_TR_PST_ID
		 INNER JOIN USR_INF UI
		    ON UTR.ATHR_ID = UI.USR_ID 
		  LEFT JOIN TR_SCHDL TS
		    ON UTR.USR_TR_PST_ID = TS.USR_TR_PST_ID 
		 WHERE UTR.USR_TR_PST_ID = #{_parameter}
	</select>
	
	<select id="selectAllUserTourCount"
			resultType="_int">
		SELECT COUNT(1)
		  FROM USR_TR_RQST
	</select>
	
	<select id="selectAllUserTour"
			resultMap="userTourVOMap"
			parameterType="com.mate.bbs.vo.SearchUserTourVO">
		<if test="_parameter != null">
			<include refid="Common.pagination_header" />
		</if>
		SELECT UTR.USR_TR_PST_ID
		     , UTR.ATHR_ID
		     , UTR.GD_ID
		     , UTR.USR_TR_TTL
		     , TO_CHAR(UTR.USR_TR_DT, 'YYYY-MM-DD') USR_TR_DT
		     , UTR.USR_TR_PRPS
		     , UTR.USR_TR_MP
		     , UTR.USR_TR_GD_HR_PRC
		     , UTR.USR_TR_NP
		     , UTR.USR_TR_RSTR_DT
		     , UTR.USR_TR_MDFY_DT
		     , UTR.USR_TR_DLT_DT
		     , UTR.TR_CT_ID
		     , UTR.USR_TR_RQ_DTL 
		     , UTRI.USR_TR_RQ_IMG_ID_URL
		     , UTR.GD_GNDR 
		     , UTR.GD_AGE 
		     , UTR.GD_CRR 
		     , UTR.GD_WNT_RQ 
		     , CEIL (UTR.USR_TR_DT - SYSDATE) AS DEADLINE
		  FROM USR_TR_RQST UTR
		  LEFT JOIN USR_TR_RQST_IMG UTRI
		    ON UTR.USR_TR_PST_ID = UTRI.USR_TR_PST_ID
		<if test="_parameter != null">
			<include refid="com.mate.bbs.dao.UserTourDao.selectSubjectAndContent" />
		</if>
		 ORDER BY UTR.USR_TR_PST_ID DESC
		<if test="_parameter != null">
			<include refid="Common.pagination_footer" />
		</if>
	</select>
	
	<update id="updateUserTour"
			parameterType="com.mate.bbs.vo.UserTourModifyVO">
		UPDATE USR_TR_RQST 
		   SET USR_TR_TTL = #{usrTrTtl}
		   	 , USR_TR_DT = TO_DATE(#{usrTrDt}, 'YYYY-MM-DD HH24:MI')
		   	 , USR_TR_PRPS = #{usrTrPrps}
		   	 , USR_TR_MP = #{usrTrMp}
		   	 , USR_TR_GD_HR_PRC = #{usrTrGdHrPrc}
		   	 , USR_TR_NP = #{usrTrNp}
		   	 , USR_TR_TM = #{usrTrTm}
		   	 , USR_TR_MDFY_DT = SYSDATE
		   	 , USR_TR_RQ_DTL = #{usrTrRqDtl}
		 WHERE USR_TR_PST_ID = #{usrTrPstId}
	</update>
	
	<update id="updateUserTourIsDtl"
			parameterType="string">
		UPDATE USR_TR_RQST 
		   SET USR_TR_IS_DLT = 'Y'
		 WHERE USR_TR_PST_ID = #{_parameter}
	</update>
	
</mapper>