<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mate.bbs.dao.UserTourDao">
	
	<resultMap id="userTourVOMap" 
			   type="com.mate.bbs.vo.UserTourVO"
			   autoMapping="true">
		<id column="USR_TR_PST_ID" property="usrTrPstId" />
		<association property="userVO"
					 javaType="com.mate.user.vo.UserVO"
					 autoMapping="true">
			<id column="USR_ID" property="usrId" />
		</association>
		<association property="citiesVO"
					 javaType="com.mate.common.vo.CitiesVO"
					 autoMapping="true">
			<id column="CITY_ID" property="cityId" />
		</association>
		<association property="countriesVO"
					 javaType="com.mate.common.vo.CountriesVO"
					 autoMapping="true">
			<id column="COUNTRY_ID" property="countryId" />
		</association>
		<association property="regionsVO"
					 javaType="com.mate.common.vo.RegionsVO"
					 autoMapping="true">
			<id column="REGION_ID" property="regionId" />
		</association>
		<association property="favoriteVO"
					javaType="com.mate.bbs.vo.FavoriteVO"
					autoMapping="true">
			<id column="FAV_ID" property="favId" />
		</association>
		<collection property="userTourImgList"
					ofType="com.mate.bbs.vo.UserTourImgVO"
					autoMapping="true">
			<id column="USR_TR_RQ_IMG_ID" property="usrTrRqImgId" />
		</collection>
		<collection property="userTourSchdlList"
					ofType="com.mate.bbs.vo.UserTourSchdlVO"
					autoMapping="true">
			<id column="TR_SCHDL_ID" property="trSchdlId" />
		</collection>
	</resultMap>
	
	<!-- 지역 검색기능에 사용 -->
	<sql id="selectSubjectAndContent">
	<if test='searchKeyword != null and searchKeyword != ""'>
		<if test='searchType == "country"'>
			AND CR.COUNTRY_NAME LIKE '%' || #{searchKeyword} || '%'
		</if>
		<if test='searchType == "city"'>
			AND C.CITY_NAME LIKE '%' || #{searchKeyword} || '%'
		</if>
		<if test='searchType == "title"'>
			AND UTR.USR_TR_TTL LIKE '%' || #{searchKeyword} || '%'
		</if>
		<if test='searchType == "price"'>
			AND UTR.USR_TR_GD_HR_PRC = #{searchKeyword}
		</if>
	</if>
	</sql>
	<!-- 대륙별로 볼 때 사용 -->
	<sql id="selectRegions">
		<if test='regionName !="전체" and regionName != null and regionName != ""'>
			AND (R.REGION_NAME = #{regionName})
		</if>
	</sql>
	<!-- ~순 정렬에 사용 -->
	<sql id="order">
		<choose>
			<when test='"높은 가격순".equals(orderby)'>
				ORDER BY UTR.USR_TR_GD_HR_PRC DESC
			</when>
			<when test='"낮은 가격순".equals(orderby)'>
				ORDER BY UTR.USR_TR_GD_HR_PRC
			</when>
			<when test='"마감 임박순".equals(orderby)'>
				ORDER BY DEADLINE
			</when>
			<otherwise>
				ORDER BY UTR.USR_TR_PST_ID DESC
			</otherwise>
		</choose>
	</sql>
	
	<insert id="insertNewUserTour"
			parameterType="com.mate.bbs.vo.UserTourWriteVO">
		<!--
		 PK를 먼저 발급 받음 
		 keyProperty : VO에서 PK를 담당하는 프로퍼티 작성
		 order : BEFORE - 쿼리를 실행하기 전에 먼저 실행
		 		 AFTER - 쿼리를 실행한 후 실행
		 resultType : 해당 쿼리의 반환 값
		-->
		<selectKey keyProperty="usrTrPstId" order="BEFORE" resultType="string">
			SELECT 'UT-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_USR_TR_RQST_PK.NEXTVAL, 6, 0)
			  FROM DUAL
		</selectKey>
		INSERT INTO USR_TR_RQST
		 (USR_TR_PST_ID
		, ATHR_ID
		, GD_ID
		, USR_TR_TTL
		, USR_TR_ST_DT
		, USR_TR_PRPS
		, USR_TR_MP
		, USR_TR_GD_HR_PRC
		, USR_TR_NP
		, USR_TR_IS_DLT
		, USR_TR_RSTR_DT
		, TR_CT_ID
		, USR_TR_RQ_DTL
		, GD_GNDR
		, GD_AGE
		, GD_WNT_RQ
		, USR_TR_ED_DT
		, USR_TR_STTS
		, USR_TR_DIVIDE)
		VALUES
		 (#{usrTrPstId}
		, #{athrId}
		, NULL
		, #{usrTrTtl}
		, TO_DATE(#{usrTrStDt}, 'YYYY-MM-DD HH24:MI')
		, #{usrTrPrps}
		, #{usrTrMp}
		, #{usrTrGdHrPrc}
		, #{usrTrNp}
		, 'N'
		, SYSDATE
		, #{trCtId}
		, #{usrTrRqDtl}
		, #{gdGndr}
		, #{gdAge}
		, #{gdWntRq}
		, TO_DATE(#{usrTrEdDt}, 'YYYY-MM-DD HH24:MI')
		, 'RCRTNG'
		, 'SCHEDULE')
	</insert>
	
	<insert id="insertNewRequestTour"
			parameterType="com.mate.bbs.vo.UserTourWriteVO">
		INSERT INTO USR_TR_RQST
		 (USR_TR_PST_ID
		, ATHR_ID
		, GD_ID
		, USR_TR_TTL
		, USR_TR_ST_DT
		, USR_TR_PRPS
		, USR_TR_MP
		, USR_TR_GD_HR_PRC
		, USR_TR_NP
		, USR_TR_IS_DLT
		, USR_TR_RSTR_DT
		, TR_CT_ID
		, USR_TR_RQ_DTL
		, GD_GNDR
		, GD_AGE
		, GD_WNT_RQ
		, USR_TR_ED_DT
		, USR_TR_STTS
		, USR_TR_DIVIDE)
		VALUES
		 ('UT-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_USR_TR_RQST_PK.NEXTVAL, 6, 0)
		, #{athrId}
		, NULL
		, #{usrTrTtl}
		, TO_DATE(#{usrTrStDt}, 'YYYY-MM-DD HH24:MI')
		, #{usrTrPrps}
		, #{usrTrMp}
		, #{usrTrGdHrPrc}
		, #{usrTrNp}
		, 'N'
		, SYSDATE
		, #{trCtId}
		, #{usrTrRqDtl}
		, #{gdGndr}
		, #{gdAge}
		, #{gdWntRq}
		, TO_DATE(#{usrTrEdDt}, 'YYYY-MM-DD HH24:MI')
		, 'RCRTNG'
		, 'REQUEST')
	</insert>
	
	<select id="selectOneUserTour"
			parameterType="string"
			resultMap="userTourVOMap">
		SELECT UTR.USR_TR_PST_ID
		     , UTR.ATHR_ID
		     , UTR.GD_ID
		     , UTR.USR_TR_TTL
		     , UTR.USR_TR_PRPS
		     , UTR.USR_TR_MP
		     , UTR.USR_TR_GD_HR_PRC
		     , UTR.USR_TR_NP
		     , UTR.USR_TR_RSTR_DT
		     , UTR.USR_TR_MDFY_DT
		     , UTR.USR_TR_DLT_DT
		     , UTR.TR_CT_ID
		     , UTR.USR_TR_RQ_DTL 
		     , UTR.GD_GNDR 
		     , UTR.GD_AGE 
		     , UTR.GD_WNT_RQ 
		     , UTR.USR_TR_STTS
		     , TO_CHAR(UTR.USR_TR_ST_DT, 'YYYY-MM-DD HH24:MI') USR_TR_ST_DT
		     , TO_CHAR(UTR.USR_TR_ED_DT, 'YYYY-MM-DD HH24:MI') USR_TR_ED_DT
		     , UTRI.USR_TR_RQ_IMG_ID_URL
		     , UI.USR_LNM 
		     , UI.USR_FNM 
		     , TS.TR_LCTNS 
		     , TS.TR_RQST
		     , TO_CHAR(TS.TR_TM, 'YY-MM-DD HH24:MI') TR_TM 
		     , C.CITY_NAME
		     , CR.COUNTRY_NAME
		  FROM USR_TR_RQST UTR
		  LEFT JOIN USR_TR_RQST_IMG UTRI
		    ON UTR.USR_TR_PST_ID = UTRI.USR_TR_PST_ID
		  LEFT JOIN USR_INF UI
		    ON UTR.ATHR_ID = UI.USR_ID 
		  LEFT JOIN TR_SCHDL TS
		    ON UTR.USR_TR_PST_ID = TS.USR_TR_PST_ID 
		  JOIN CITIES C
		    ON UTR.TR_CT_ID = C.CITY_ID
		  JOIN COUNTRIES CR
		    ON CR.COUNTRY_ID = C.COUNTRY_ID
		  LEFT JOIN FVRTS F
		    ON UTR.USR_TR_PST_ID = F.USR_TR_PST_ID
		 WHERE UTR.USR_TR_PST_ID = #{_parameter}
	</select>
	
	<select id="selectAllUserTourCount"
			parameterType="com.mate.bbs.vo.SearchUserTourVO"
			resultType="_int">
		SELECT COUNT(1)
		  FROM USR_TR_RQST UTR
		  LEFT JOIN USR_TR_RQST_IMG UTRI
		    ON UTR.USR_TR_PST_ID = UTRI.USR_TR_PST_ID
		  JOIN CITIES C
		    ON UTR.TR_CT_ID = C.CITY_ID
		  JOIN COUNTRIES CR
		    ON CR.COUNTRY_ID = C.COUNTRY_ID
		  JOIN REGIONS R
		    ON R.REGION_ID = CR.REGION_ID
		 WHERE UTR.USR_TR_ST_DT > SYSDATE
		   AND UTR.USR_TR_IS_DLT = 'N'
		<if test="_parameter != null">
		 	<include refid="com.mate.bbs.dao.UserTourDao.selectRegions" />
		</if>
		<if test="_parameter != null">
			<include refid="com.mate.bbs.dao.UserTourDao.selectSubjectAndContent" />
		</if>
	</select>
	
	<select id="selectAllUserTour"
			resultMap="userTourVOMap"
			parameterType="com.mate.bbs.vo.SearchUserTourVO">
		<if test="_parameter != null">
			<include refid="Common.pagination_header" />
		</if>
		SELECT UTR.USR_TR_PST_ID
		     , UTR.USR_TR_TTL 
		     , UTR.USR_TR_PRPS 
		     , TO_CHAR(UTR.USR_TR_ST_DT, 'YYYY-MM-DD HH24:MI') USR_TR_ST_DT 
		     , TO_CHAR(UTR.USR_TR_ED_DT, 'YYYY-MM-DD HH24:MI') USR_TR_ED_DT 
		     , UTR.USR_TR_GD_HR_PRC 
		     , UTR.USR_TR_STTS 
		     , UTR.USR_TR_DIVIDE
		     , CEIL (UTR.USR_TR_ED_DT - SYSDATE) AS DEADLINE
		     , TRUNC((UTR.USR_TR_ED_DT - UTR.USR_TR_ST_DT) * 24 * 60) AS USR_TR_TM
		     , UTRI.USR_TR_RQ_IMG_ID_URL 
		     , C.CITY_NAME
		     , CR.COUNTRY_NAME
		  FROM USR_TR_RQST UTR
		  LEFT JOIN USR_TR_RQST_IMG UTRI
		    ON UTR.USR_TR_PST_ID = UTRI.USR_TR_PST_ID
		  JOIN CITIES C
		    ON UTR.TR_CT_ID = C.CITY_ID
		  JOIN COUNTRIES CR
		    ON CR.COUNTRY_ID = C.COUNTRY_ID
		  JOIN REGIONS R
		    ON R.REGION_ID = CR.REGION_ID
		 WHERE UTR.USR_TR_ST_DT > SYSDATE
		   AND UTR.USR_TR_IS_DLT = 'N'
		<if test="_parameter != null">
		 	<include refid="com.mate.bbs.dao.UserTourDao.selectRegions" />
		</if>
		<if test="_parameter != null">
			<include refid="com.mate.bbs.dao.UserTourDao.selectSubjectAndContent" />
		</if>
		<if test="_parameter != null">
		 	<include refid="com.mate.bbs.dao.UserTourDao.order" />
		</if>
		<if test="_parameter != null">
			<include refid="Common.pagination_footer" />
		</if>
	</select>
	
	<update id="updateUserTour"
			parameterType="com.mate.bbs.vo.UserTourModifyVO">
		UPDATE USR_TR_RQST 
		   SET USR_TR_TTL = #{usrTrTtl}
		   	 , USR_TR_ST_DT = TO_DATE(#{usrTrStDt}, 'YYYY-MM-DD HH24:MI')
		   	 , USR_TR_PRPS = #{usrTrPrps}
		   	 , USR_TR_MP = #{usrTrMp}
		   	 , USR_TR_GD_HR_PRC = #{usrTrGdHrPrc}
		   	 , USR_TR_NP = #{usrTrNp}
		   	 , USR_TR_MDFY_DT = SYSDATE
		   	 , USR_TR_RQ_DTL = #{usrTrRqDtl}
		   	 , USR_TR_ED_DT = TO_DATE(#{usrTrEdDt}, 'YYYY-MM-DD HH24:MI')
		 WHERE USR_TR_PST_ID = #{usrTrPstId}
	</update>
	
	<update id="updateUserTourIsDtl"
			parameterType="string">
		UPDATE USR_TR_RQST 
		   SET USR_TR_IS_DLT = 'Y'
		 WHERE USR_TR_PST_ID = #{_parameter}
	</update>
	
	<select id="selectAttachStartHour"
			parameterType="com.mate.bbs.vo.UserTourWriteVO"
			resultType="string">
		SELECT #{inputYear} || ' ' || #{inputStartHour}
 		  FROM DUAL
	</select>
	
	<select id="selectAttachStartHour2"
			parameterType="com.mate.bbs.vo.UserTourModifyVO"
			resultType="string">
		SELECT #{inputYear} || ' ' || #{inputStartHour}
 		  FROM DUAL
	</select>
	
	<select id="selectAttachEndHour"
			parameterType="com.mate.bbs.vo.UserTourWriteVO"
			resultType="string">
		SELECT #{inputYear} || ' ' || #{inputEndHour}
 		  FROM DUAL
	</select>
	
	<select id="selectAttachEndHour2"
			parameterType="com.mate.bbs.vo.UserTourModifyVO"
			resultType="string">
		SELECT #{inputYear} || ' ' || #{inputEndHour}
 		  FROM DUAL
	</select>
	
	<insert id="insertUserTourScheduls"
			parameterType="com.mate.bbs.vo.UserTourSchdlVO">
		INSERT INTO TR_SCHDL
		 (TR_SCHDL_ID
		, USR_TR_PST_ID
		, TR_LCTNS
		, TR_RQST
		, TR_TM)
		VALUES
		 ('RQ-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_TR_SCHDL_PK.NEXTVAL, 6, 0)
		, #{usrTrPstId}
		, #{trLctns}
		, #{trRqst}
		, TO_DATE(#{trTm}, 'YYYY-MM-DD HH24:MI'))
	</insert>
	
	<insert id="insertNewUserTourImgs"
			parameterType="com.mate.bbs.vo.UserTourImgVO">
		INSERT INTO USR_TR_RQST_IMG
		 (USR_TR_RQ_IMG_ID
		, USR_TR_PST_ID
		, USR_TR_RQ_IMG_ID_URL
		, USR_TR_RSTR_DT
		, USR_TR_DLT_DT
		, GD_TR_IMG_IS_DLT)
		VALUES
		 ('UG-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_USR_TR_RQST_IMG_PK.NEXTVAL, 6, 0)
		, #{usrTrPstId}
		, #{usrTrRqImgIdUrl}
		, SYSDATE
		, NULL
		, 'N')
	</insert>
	
	<select id="selectUserTourSchdls"
			parameterType="string"
			resultType="com.mate.bbs.vo.UserTourSchdlVO">
		SELECT USR_TR_PST_ID 
		     , TR_LCTNS 
		     , TR_RQST 
		     , TO_CHAR(TR_TM, 'YY-MM-DD HH24:MI') TR_TM
		  FROM TR_SCHDL
		 WHERE USR_TR_PST_ID = #{_parameter}
	</select>
	
	<delete id="deleteUserTourSchdls"
			parameterType="string">
		DELETE FROM TR_SCHDL 
 		 WHERE USR_TR_PST_ID = #{_parameter}
	</delete>
	
	<update id="updateGdId"
			parameterType="map">
		UPDATE USR_TR_RQST
		   SET GD_ID = #{usrLgnId}
		     , USR_TR_STTS = 'RSRVT'
		 WHERE USR_TR_PST_ID = #{usrTrPstId}
	</update>
	
	<select id="selectAttachMultyStartHour"
			parameterType="com.mate.bbs.vo.UserTourWriteVO"
			resultType="string">
		SELECT #{inputYear} || ' ' || #{inputStartHour}
 		  FROM DUAL
	</select>
	
	<select id="selectAttachMultyEndHour"
			parameterType="com.mate.bbs.vo.UserTourWriteVO"
			resultType="string">
		SELECT #{inputEndYear} || ' ' || #{inputEndHour}
 		  FROM DUAL
	</select>
	
</mapper>