* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
div.header {
    width: 100%;
    grid-column: 1 / -1;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
  flex-direction: column;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-box {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo {
  width: 100px;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-btn {
  background-color: #f6c89f;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

.login-btn:hover {
  background-color: #e8b28b;
}

.login-options {
  margin-top: 15px;
}

.login-options a {
  color: #777;
  font-size: 0.9em;
  text-decoration: none;
}

.error {
  font-size: 0.8rem;
  color: #a00;
}

.input-error {
    border: 2px solid #ff0000 !important; 
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.2); 
}

.error-message {
  font-size: 0.9rem;
  color: #a00;
  background-color: #ffe6e6; 
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  text-align: center;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.1); 
}