<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mate.payment.dao.PaymentDao">

<select id="selectAllPaymentCount" resultType="_int">
	SELECT COUNT(1)
	  FROM PAY_INF
</select>

<select id="selectAllPayment" resultType="com.mate.payment.vo.PaymentVO">
SELECT PAY_ID
     , TRST_ID
     , GD_ID
     , PAY_TR_TP
     , PAY_TR_ID
     , PAY_CSH
     , PAY_STT
     , TO_CHAR(PAY_CRT_DT, 'YYYY-MM-DD HH24:mm') PAY_CRT_DT
     , TO_CHAR(PAY_CMPLT_DT, 'YYYY-MM-DD HH24:mm') PAY_CMPLT_DT
     , PAY_KEY
     , PAY_MTHD
     , PAY_CRRNC
     , PAY_CMMSSN
  FROM PAY_INF
</select>






</mapper>