<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.mate.cms.customerService.dao.CustomerServiceDao">

	<insert id="insertNewCustomerService"
			parameterType="com.mate.cms.customerService.vo.CustomerServiceWriteVO">
		INSERT INTO CSTMR_SRVC_CNTR
		 (CSTMR_SRVC_CNTR_ID
		, USR_LGN_ID
		, SRVC_CNTR_DTL
		, SRVC_CRT_DT
		, CSTMR_SRVC_CNTR_STTS)
		VALUES
		 ('CC-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_CSTMR_SRVC_CNTR_PK.NEXTVAL, 6, 0)
		, #{usrLgnId}
		, #{srvcCntrDtl}
		, SYSDATE
		, 'N')
	</insert>

</mapper>