<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.mate.cms.userManagement.dao.UserManagementDao">
  
  <sql id="selectGuideOrNot">
  	<if test="_parameter == 'GUIDE'">
  		AND USR_IS_GD = 'Y'
  	</if>
  	<if test='_parameter == "TOURIST"'>
  		AND USR_IS_GD = 'N'
  	</if>
  </sql>
  
  <sql id="keywordSearch">
    <if test='searchKeyword != null and searchKeyword != ""'>
        AND USR_ID LIKE '%' || #{searchKeyword} || '%'
    </if>
  </sql>
  
  <select id="selectUserManagementAllCount"
          parameterType="String"
  		  resultType="_int">
  		SELECT COUNT(1) 
  	 	  FROM USR_INF 
  	     WHERE 1=1
  	     <if test="_parameter != null">
            <include refid="com.mate.cms.userManagement.dao.UserManagementDao.selectGuideOrNot" />
          </if>
  </select>
  	
  	<select id="selectAllUserManagement"
  	        parameterType="String"
  			resultType="com.mate.cms.userManagement.vo.UserManagementVO">
  		SELECT USR_ID 
		 	 , USR_LGN_ID 
		 	 , GD_RGST_DT 
		 	 , USR_FNM 
		 	 , USR_LNM 
		 	 , USR_GNDR 
		 	 , USR_BD 
		 	 , USR_EML 
		 	 , USR_IS_GD
		 	 , USR_IS_CL
		 	 , USR_IS_BLCK
		  FROM USR_INF
		 WHERE 1=1
		  <if test="_parameter != null">
		  	<include refid="com.mate.cms.userManagement.dao.UserManagementDao.selectGuideOrNot" />
		  </if>
  	</select>
  	
  	<update id="updateDeleteUser"
  	        parameterType="String">
  	     UPDATE USR_INF
            SET USR_IS_CL = 'Y'
          WHERE USR_ID = #{parameter}
  	</update>
  	
  	<update id="updateBlockUser"
  	        parameterType="String">
  	     UPDATE USR_INF
            SET USR_IS_BLCK = 'Y'
          WHERE USR_ID = #{parameter}
  	</update>
  	
  	
  	
  	<!-- 
  	<select id="selectOneUserManagement"
  			parameterType="string"
  			resultType="com.mate.cms.userManagement.vo.UserManagementVO">
  		SELECT USR_ID 
		 	 , USR_LGN_ID 
		 	 , GD_RGST_DT 
		 	 , USR_FNM 
		 	 , USR_LNM 
		 	 , USR_GNDR 
		 	 , USR_BD 
		 	 , USR_EML 
		  FROM USR_INF
  	</select> -->
  	<!-- 바보 -->
  	<select id="selectWaitingGuideUsers"
  	        parameterType="com.mate.cms.userManagement.vo.SearchUserManagementVO"
  			resultType="com.mate.cms.userManagement.vo.UserManagementVO">
		<if test="_parameter != null">
		<include refid="Common.pagination_header" />
        </if>
  		SELECT USR_ID
		 	 , USR_LGN_ID
		 	 , GD_RGST_DT
		 	 , USR_FNM
		 	 , USR_LNM
		 	 , USR_GNDR
		 	 , USR_BD
		 	 , USR_EML
		 	 , USR_IS_GD
		 	 , GD_APPL_STT
		 	 , USR_IS_CL
		 	 , USR_IS_BLCK
		 	 , USR_SLF_INTDCTN
		 	 , GD_PRFL_IMG
		 	 , GD_ID_IMG
		 	 , GD_CBC_IMG
		 	 , USR_GD_EXP
		  FROM USR_INF
		 WHERE GD_APPL_STT = 'WAITING'
		 <if test="_parameter != null">
	        <include refid="com.mate.cms.userManagement.dao.UserManagementDao.keywordSearch" />
	     </if>
		 <if test="_parameter != null">
            <include refid="Common.pagination_footer" />
        </if>
  	</select>
  	
  	<select id="selectWaitingGuideUsersCount"
  			resultType="_int">
  		SELECT COUNT(1)
		  FROM USR_INF
		 WHERE GD_APPL_STT = 'WAITING'
  	</select>
  	
  	<update id="updateGuideApprove"
  	        parameterType="String">
  	   UPDATE USR_INF
		  SET GD_RGST_DT = SYSDATE 
		    , GD_APPL_STT = 'ACCEPT'
		    , USR_ROLE = 'ROLE_GUIDE'
		    , USR_IS_GD = 'Y'
		WHERE USR_ID = #{parameter}
  	</update>
  	
  	<update id="updateRefuseApprove"
  	        parameterType="String">
  	UPDATE USR_INF
	   SET GD_APPL_STT = 'REFUSE'
	 WHERE USR_ID = #{parameter}
  	</update>
  	
  	
  	
  	
  </mapper>