* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

div.grid {
  display: grid;
  grid-template-columns: 1fr 80rem 1fr;
  /* row-gap: 1rem; */
}

div.header {
  grid-column: 1 / -1;
}

div.content {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}

div.footer {
  grid-column: 1 / -1;
}
