.container {
  width: 80rem;
  /* height: auto; */
  justify-content: center;
}

.title {
  margin: 0 0 0 4rem;
}

.firstLayer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tourPicArea {
  width: 46.5rem;
  height: 21.9rem;
  border: 2px solid #000;
  border-radius: 1.25rem;
  display: flex;
}

.bigPicArea {
  width: 35.5rem;
  height: 21.9rem;
  border-top-left-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
  overflow: hidden;
}

.bigPicArea > img {
  width: 35.5rem;
  height: 21.9rem;
}

.smallPicAreas {
  display: flex;
  width: 11rem;
  flex-direction: column;
}

.smallPicArea:first-child {
  border-top-right-radius: 1.25rem;
  overflow: hidden;
}

.smallPicArea {
  margin: 0;
  padding: 0;
  width: 11rem;
  height: 7.3rem;
  overflow: hidden;
}

.smallPicArea > img {
  margin: 0;
  padding: 0;
  width: 11rem;
  height: 7.3rem;
}

.morePicArea {
  width: 11rem;
  height: 7.3rem;
  background-color: #cccaca;
  display: flex;
  border-bottom-right-radius: 1.25rem;
  justify-content: center;
  align-items: center;
}

.morePicArea > img {
  width: 4.4rem;
  height: 6rem;
}

.priceArea {
  width: 23.3rem;
  height: 21.9rem;
  border: 2px solid #ffeedb;
  border-radius: 1.25rem;
}

.priceTitleArea {
  width: 23.3rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.priceTitleArea > span {
  font-size: 2rem;
  font-weight: bold;
}

.priceDetailArea {
  width: 23.3rem;
  height: 16.9rem;
  background-color: #ffeedb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #ffeedb;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}

.adultPrice {
  width: 20rem;
  height: 3.75rem;
  background-color: #ffe6cc;
  border-radius: 1.25rem;
  margin: 0.5rem 0 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.childPrice {
  width: 20rem;
  height: 3.75rem;
  background-color: #ffe6cc;
  border-radius: 1.25rem;
  margin: 0.5rem 0 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reserveButton {
  width: 11.1rem;
  height: 3rem;
  margin: 1rem 0 0 0;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adultPrice > span,
.childPrice > span {
  font-size: 2rem;
  font-weight: bold;
}

.reserveButton > span {
  font-size: 2rem;
}

.secondLayer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tourSummaryArea {
  width: 34.4rem;
  height: 18.75rem;
  margin: 2rem 0 0 0;
  border: 2px solid #ffeedb;
  border-radius: 1.25rem;
}

.summaryTitleArea {
  width: 34.4rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.summaryTitleArea > span {
  font-size: 2rem;
  font-weight: bold;
}

.summaryDetailArea {
  width: 34.4rem;
  height: 13.75rem;
  background-color: #ffeedb;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  border: 2px solid #ffeedb;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}

.summaryDetailArea > h1 {
  font-size: 1.75rem;
  font-weight: 500;
  margin: 0 0 0.5rem 1rem;
}

.guideProfileArea {
  width: 34.4rem;
  height: 18.75rem;
  margin: 2rem 0 0 0;
  border: 2px solid #ffeedb;
  border-radius: 1.25rem;
}

.profileTitleArea {
  width: 34.4rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.profileTitleArea > span {
  font-size: 2rem;
  font-weight: bold;
}

.profileDetailArea {
  width: 34.4rem;
  height: 13.75rem;
  background-color: #ffeedb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 2px solid #ffeedb;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}

.profileDetailArea > img {
  width: 8.8rem;
  height: 13rem;
  border: 2px solid #ffeedb;
  border-radius: 1.25rem;
  object-fit: cover;
}

.profileSummaryArea {
  margin: 0 0 0 2rem;
}

.profileSummaryArea > h1 {
  font-size: 1.75rem;
  font-weight: 500;
  margin: 0 0 0.5rem 1rem;
}

.thirdLayer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tourOfferArea {
  width: 74.6rem;
  height: 18.75rem;
  margin: 2rem 0 0 0;
  border: 2px solid #ffeedb;
  border-radius: 1.25rem;
}

.offerTitleArea {
  width: 74.6rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.offerTitleArea > span {
  font-size: 2rem;
  font-weight: bold;
}

.offerDetailArea {
  width: 74.6rem;
  height: 13.75rem;
  background-color: #ffeedb;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  border: 2px solid #ffeedb;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}

.offerDetailArea > h1 {
  font-size: 1.75rem;
  font-weight: 500;
  margin: 0 0 0.5rem 1rem;
}

.fourthLayer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.rallyPointArea {
  width: 74.6rem;
  height: auto;
  margin: 2rem 0 0 0;
  border: 2px solid #ffeedb;
  border-radius: 1.25rem;
}

.rallyPointTitleArea {
  width: 74.6rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.rallyPointTitleArea > span {
  font-size: 2rem;
  font-weight: bold;
}

.rallyPointDetailArea {
  width: 74.6rem;
  height: auto;
  background-color: #ffeedb;
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: row;
  border: 2px solid #ffeedb;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}

.summaryArea {
  margin: 2rem 0 0 0;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: row;
}

.rallyPointSummaryArea > h1 {
  font-size: 1.75rem;
  font-weight: 500;
  margin: 0 0 0.5rem 1rem;
}

.mapApiArea {
  width: 35.5rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
}

.mapApiArea > span {
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0 2rem 0;
}

.apiArea {
  width: 35.5rem;
  height: 20rem;
  margin: -1rem;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 1.25rem;
}

.fifthLayer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tourInfoArea {
  width: 74.6rem;
  height: 20rem;
  margin: 2rem 0 0 0;
  border: 2px solid #ffeedb;
  border-radius: 1.25rem;
}

.tourInfoTitleArea {
  width: 74.6rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.tourInfoTitleArea > span {
  font-size: 2rem;
  font-weight: bold;
}

.tourInfoDetailArea {
  width: 74.6rem;
  height: 15rem;
  background-color: #ffeedb;
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
  border: 2px solid #ffeedb;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}

.tourInfoSummaryArea {
  margin: 2rem 0 0 0;
}

.tourInfoSummaryArea > h1 {
  font-size: 1.75rem;
  font-weight: 500;
  margin: 0 0 0.5rem 1rem;
}

.sixthLayer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.touristPicArea {
  width: 74.6rem;
  height: auto;
  margin: 2rem 0 0 0;
  border: 2px solid #ffeedb;
  border-radius: 1.25rem;
}

.touristPicTitleArea {
  width: 74.6rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.touristPicTitleArea > span {
  font-size: 2rem;
  font-weight: bold;
}

.touristPicDetailArea {
  width: 74.6rem;
  height: 25rem;
  background-color: #ffeedb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #ffeedb;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}

.touristPicturesArea {
  width: 68.8rem;
  height: 18.8rem;
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: row;
  border: 2px solid #000;
  border-radius: 1.25rem;
}

.touristBigPicArea {
  width: 34.4rem;
  height: 18.8rem;
  background-color: #fff;
  border: 2px solid #000;
  border-top-left-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
}

.touristBigPicArea > img {
  width: 34.4rem;
  height: 18.8rem;
  object-fit: cover;
  border-top-left-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
}

.touristSmallPicAreas {
  width: 34.4rem;
  height: 18.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.touristSmallPicAreas > .touristSmallPicArea:nth-child(2) {
  border-top-right-radius: 1.25rem;
  overflow: hidden;
}

.touristSmallPicArea {
  width: 17rem;
  height: 9.25rem;
  background-color: #fff;
  border: 2px solid #000;
}

.touristSmallPicArea > img {
  width: 17rem;
  height: 9.25rem;
  overflow: hidden;
}

.touristMorePicArea {
  width: 17rem;
  height: 9.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a29a9a;
  border: 2px solid #000;
  border-bottom-right-radius: 1.25rem;
}

.touristMorePicArea > h1 {
  font-size: 3rem;
  color: #fff;
  font-weight: bold;
}

.seventhLayer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tourReviewArea {
  width: 74.6rem;
  height: auto;
  margin: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  border: 2px solid #ffeedb;
  border-radius: 1.25rem;
}

.tourReviewTitleArea {
  width: 74.6rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.tourReviewTitleArea > span {
  font-size: 2rem;
  font-weight: bold;
}

.tourReviewDetailArea {
  width: 74.6rem;
  height: auto;
  background-color: #ffeedb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #ffeedb;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}

.tourReviewRatingArea {
  display: flex;
  flex-direction: row;
}

.eighthLayer {
  display: flex;
  margin: 0 0 2rem 0;
  flex-direction: row;
  justify-content: space-around;
}

.guideReviewArea {
  width: 74.6rem;
  height: auto;
  margin: 2rem 0 0 0;
  border: 2px solid #ffeedb;
  border-radius: 1.25rem;
}

.guideReviewTitleArea {
  width: 74.6rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.guideReviewTitleArea > span {
  font-size: 2rem;
  font-weight: bold;
}

.guideReviewDetailArea {
  width: 74.6rem;
  height: auto;
  background-color: #ffeedb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #ffeedb;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}

.guideReviewRatingArea {
  display: flex;
  flex-direction: row;
}

.writeReview {
  margin: 2rem 4rem 0 0;
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffeedb;
  cursor: pointer;
}

.showDetail {
  margin: 2rem 4rem 0 0;
  font-size: 1.25rem;
  font-weight: 200;
  color: #868686;
  cursor: pointer;
}

.averageRatingArea {
  width: auto;
  height: 3.4375rem;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  margin: 1rem 0 0 2rem;
}

.star {
  width: 3.4375rem;
  height: 3.4375rem;
  margin: 0 1rem 0 0;
}

.averageRating {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.8rem 0 0 0;
}

.ratingArea {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0 0 2rem;
  display: flex;
  flex-direction: column;
}

.ratingOneArea,
.ratingTwoArea,
.ratingThreeArea,
.ratingFourArea,
.ratingFiveArea {
  display: flex;
  margin: 0 0 0.5rem 0;
}

meter.ratingGage {
  width: 47.5rem;
  height: 4rem;
}

meter.ratingGage::-webkit-meter-bar {
  background: #ffffff; /* 미터 바 배경색 */
  border-radius: 8px; /* 테두리 둥글게 */
}

/* 게이지의 최적 영역 스타일 */
meter.ratingGage::-webkit-meter-optimum-value {
  background: #ffe812; /* 색상 변경 */
  border-radius: 8px; /* 게이지 끝을 둥글게 */
}

/* 게이지 높이 맞추기 */
meter.ratingGage::-webkit-meter-suboptimum-value,
meter.ratingGage::-webkit-meter-even-less-good-value {
  height: 100%; /* 세로폭 맞추기 */
}

.reviewArea {
  width: 72rem;
  height: auto;
  margin: 0 0 2rem 0;
  background-color: #fff;
  border-radius: 1.25rem;
}

.someoneReviewFirstArea {
  display: flex;
  margin: 2rem 0 0 2rem;
}

.starTwo {
  width: 2rem;
  height: 2rem;
}

.someoneReviewTitleArea {
  margin: 0 0 0 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.someoneReviewSecondArea {
  display: flex;
  margin: 1rem 0 0 2rem;
}

.reviewWriterArea {
  font-size: 1.5rem;
  font-weight: bold;
}

.reviewWritingDate {
  margin: 0 0 0 4rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.reviewTextArea {
  width: 72rem;
  height: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviewTextArea > span {
  font-size: 1.5rem;
  font-weight: bold;
}

.rating {
  width: 1.25rem;
  margin: 0.8rem 1rem 0.8rem 1rem;
}

.ratingCount {
  margin: 1rem 0 0 0;
  padding: 0 0 0 1rem;
}
