.container {
  width: 62.5rem;
  /* height: auto; */
  justify-content: center;
  margin: 0 auto;
}

.title {
  margin: 0 0 0 4rem;
}

.firstLayer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.guidePicArea {
  width: 23rem;
  height: 29rem;
  position: relative;
  margin: 0.5rem 0 0.5rem 1rem;
}

.guidePicArea .guidePicture {
  width: 21.6rem;
  height: 27.7rem;
  position: relative;
  border-radius: 1.25rem;
  align-items: center;
  object-fit: cover;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.guidePicArea .guideAuthMark {
  width: 6.7rem;
  height: 6.7rem;
  position: absolute;
  top: -1.5rem;
  left: -1.5rem;
  object-fit: cover;
  z-index: 2;
}

.guideProfileArea {
  width: 34rem;
  height: 27.7rem;
  margin: 0 1rem 0 0;
  border: 2px solid #ffeedb;
  border-radius: 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.guideProfileTitleArea {
  width: 34rem;
  height: 3rem;
  display: flex;
  background-color: #ffeedb;
  justify-content: space-between;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  align-items: center;
}

.guideProfileTitleArea > span {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0 0 0 2rem;
}

.guideProfileTitleArea > img {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 1rem 0 0;
}

.guideProfileDetailArea {
  width: 34rem;
  min-height: 24.7rem;
  max-height: auto;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 2px solid #ffeedb;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}

.profileTable {
  width: 16.7rem;
  min-height: 23rem;
  border-collapse: separate;
  border-spacing: 1rem 1.75rem;
}

.profileTable th {
  width: 8rem;
  min-height: 5.75rem;
  text-align: left;
  font-size: 1.15rem;
  font-weight: bold;
}

.profileTable td {
  width: 8.7rem;
  min-height: 5.75rem;
  text-align: center;
  font-size: 1rem;
}

.profileAreaLine {
  width: 0.1875rem; /* 3px / 16 */
  height: 22.28125rem; /* 357px / 16 */
  top: 1.125rem; /* 18px / 16 */
  left: 26rem; /* 441px / 16 */
}

.secondLayer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.guideReviewArea {
  width: 58.2rem;
  height: auto;
  margin: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  border: 2px solid #ffeedb;
  border-radius: 1.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.guideReviewTitleArea {
  width: 58.2rem;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 2rem; */
  background-color: #ffeedb;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

.guideReviewTitleArea > span {
  font-size: 1.15rem;
  font-weight: bold;
  margin: 0 0 0 2rem;
}

.guideReviewDetailArea {
  width: 58.2rem;
  min-height: 35.15rem;
  max-height: auto;
  margin: 0 auto;
  /* background-color: #ffeedb; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ffeedb;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;

  overflow: hidden;

  /* 글자 드래그 막기 */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.guideReviewRatingArea {
  height: 15.15rem;
  display: flex;
  flex-direction: row;
}

.averageRatingArea {
  width: auto;
  height: 2.6855rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 2rem 0 2rem;
}

.bigStar {
  width: 3rem;
  height: 3rem;
  margin: 0.8rem 1rem 0 0;
}

.star {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 1rem 0 0;
}

.averageRating {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 1.2rem 0 0 0;
}

.ratingArea {
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem 0 0 2rem;
  display: flex;
  flex-direction: column;
}

.ratingOneArea,
.ratingTwoArea,
.ratingThreeArea,
.ratingFourArea,
.ratingFiveArea {
  display: flex;
  height: 2rem;
  margin: 0;
  align-items: center;
}

meter.ratingGage {
  width: 18rem;
  height: 1.5rem;
}

meter.ratingGage::-webkit-meter-bar {
  background: #ffffff; /* 미터 바 배경색 */
  border-radius: 8px; /* 테두리 둥글게 */
}

/* 게이지의 최적 영역 스타일 */
meter.ratingGage::-webkit-meter-optimum-value {
  background: #ffe812; /* 색상 변경 */
  border-radius: 8px; /* 게이지 끝을 둥글게 */
}

/* 게이지 높이 맞추기 */
meter.ratingGage::-webkit-meter-suboptimum-value,
meter.ratingGage::-webkit-meter-even-less-good-value {
  height: 10%; /* 세로폭 맞추기 */
}

.guideReviewsArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.guideReviewCarouselArea {
  display: flex;
  width: fit-content;
  flex-direction: row;
  align-items: center;
}

.guideReviewCarousel {
  display: flex;
  width: 27rem;
  flex-direction: row;
  align-items: center;
  transform: translateX(0); /* 초기 위치 설정 */
}

.guideReviewOneArea {
  position: relative;
  width: 27rem;
  height: auto;
  margin: 0.5rem;
  background-color: #fff;
  border: 2px solid #ffeedb;
  border-radius: 1.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.guideReviewForwardButton,
.guideReviewBackwardButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  z-index: 2;
}

.guideReviewForwardButton {
  right: calc(100% + 2rem);
}

.guideReviewBackwardButton {
  left: calc(100% + 2rem);
}

.moreReviewListButtonArea {
  position: relative;
  width: 27rem;
  height: 15.6rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 2px solid #ffeedb;
  border-radius: 1.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.moreReviewButton {
  width: 5rem;
  height: 5rem;
  margin: 3rem 0 0 0;
}

.moreReviewTextArea {
  width: 27rem;
  height: 5.4rem;
  margin: 2rem 0 0 0;
  text-align: center;
}

.moreReviewTextArea > span {
  font-size: 1rem;
  font-weight: bold;
}

.reviewCarouselTransition {
  transition: 0.6s ease-out;
}

.someoneReviewFirstArea {
  display: flex;
  margin: 2rem 0 0 2rem;
}

.starTwo {
  width: 1.3rem;
  height: 1.3rem;
}

.someoneReviewTitleArea {
  margin: 0 0 0 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.someoneReviewSecondArea {
  display: flex;
  margin: 1rem 0 0 2rem;
}

.reviewWriterArea {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(93, 93, 255);
}

.reviewWritingDate {
  margin: 0 0 0 3rem;
  font-size: 1rem;
  font-weight: bold;
}

.reviewTextArea {
  width: 27rem;
  height: 10.15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviewTextArea > span {
  margin: 0 0 1rem 0;
  font-size: 1rem;
  font-weight: bold;
}

.rating {
  width: 1.25rem;
  margin: 1.2rem 1rem 0.8rem 1rem;
}

.ratingCount {
  margin: 0.2rem 0 0 0;
  padding: 0 0 0 1rem;
}

.guideReviewsArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.thirdLayer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.reservableTourListArea {
  width: 58.2rem;
  height: auto;
  margin: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  border: 2px solid #ffeedb;
  border-radius: 1.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.reservableTourListTitleArea {
  width: 58.2rem;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 2rem; */
  background-color: #ffeedb;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

.reservableTourListTitleArea > span {
  font-size: 1.15rem;
  font-weight: bold;
  margin: 0 0 0 2rem;
}

.reservableTourListDetailArea {
  width: 58.2rem;
  min-height: 35.15rem;
  max-height: auto;
  margin: 0 auto;
  /* background-color: #ffeedb; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ffeedb;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;

  overflow: hidden;

  /* 글자 드래그 막기 */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.oneTourArea {
  width: 52.5rem;
  height: auto;
  margin: 1rem 0 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.oneTourArea > span {
  font: 1rem;
}

.prefixIcon {
  width: 2rem;
  height: 2rem;
  margin: 0;
}

.oneTourTitle {
  font-size: 1rem;
  margin: 0 18rem 0 0;
}

.spendTime {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.clock {
  width: 2rem;
  height: 2rem;
}

.fourthLayer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contactArea {
  width: 58.2rem;
  height: auto;
  margin: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  border: 2px solid #ffeedb;
  border-radius: 1.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.contactTitleArea {
  width: 58.2rem;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 2rem; */
  background-color: #ffeedb;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

.contactTitleArea > span {
  font-size: 1.15rem;
  font-weight: bold;
  margin: 0 0 0 2rem;
}

.contactDetailArea {
  width: 58.2rem;
  min-height: 10rem;
  max-height: auto;
  margin: 0 auto;
  /* background-color: #ffeedb; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border: 1px solid #ffeedb;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;

  overflow: hidden;

  /* 글자 드래그 막기 */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.emmailAndPhoneNum {
  width: 20rem;
  max-height: 9rem;
  border-collapse: separate;
  border-spacing: 1rem 1.75rem;
}

.emmailAndPhoneNum th {
  width: 10rem;
  min-height: 3rem;
  text-align: left;
  font-size: 1.15rem;
  font-weight: bold;
}

.emmailAndPhoneNum td {
  width: 10rem;
  min-height: 3rem;
  text-align: center;
  font-size: 1rem;
}

.SNS {
  width: 20rem;
  max-height: 9rem;
  border-collapse: separate;
  border-spacing: 1rem 1.75rem;
}

.SNS th {
  width: 8rem;
  min-height: 3rem;
  text-align: left;
  font-size: 1.15rem;
  font-weight: bold;
}

.SNS td {
  width: 12rem;
  min-height: 3rem;
  text-align: center;
  font-size: 1rem;
}

.fifthLayer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.informationArea {
  width: 58.2rem;
  height: auto;
  margin: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  border: 2px solid #ffeedb;
  border-radius: 1.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.informationTitleArea {
  width: 58.2rem;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 2rem; */
  background-color: #ffeedb;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

.informationTitleArea > span {
  font-size: 1.15rem;
  font-weight: bold;
  margin: 0 0 0 2rem;
}

.informationDetailArea {
  width: 58.2rem;
  height: auto;
  margin: 0 auto;
  /* background-color: #ffeedb; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ffeedb;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;

  overflow: hidden;

  /* 글자 드래그 막기 */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.informtaionTextArea {
  width: 50rem;
  height: auto;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid lightgoldenrodyellow;
  border-radius: 1rem;
}

.informtaionTextArea > span {
  margin: 1rem;
  font-size: 1rem;
  text-align: center;
}

.titleButtons {
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.showDetail {
  margin: 0 2rem 0 0;
  font-size: 0.9rem;
  font-weight: bold;
  color: #868686;
  cursor: pointer;
}

.titleButtons > .writeReview {
  margin: 0 1rem 0 0;
  font-size: 0.9rem;
  font-weight: bold;
  color: #868686;
  cursor: pointer;
}

.titleButtons > .showDetail {
  margin: 0 2rem 0 0;
  font-size: 0.9rem;
  font-weight: bold;
  color: #868686;
  cursor: pointer;
}
