@charset "UTF-8";

div.content-grid {
  display: grid;
  grid-template-columns: 13rem 1fr;
  column-gap: 3rem;
}





div.my-tour {
  border: 2px solid #f5f6f7;
  border-radius: 20px;
}

.tour-list-top {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.border {
  margin: 0 auto;
  width: 95%;
  border-top: 1px solid #000;
}

.tour-list-top div {
  margin-left: 2rem;
}

.gray {
  color: gray;
}

.tour-list {
  border: 2px solid #f5f6f7;
  border-radius: 20px;
  width: 95%;
  margin: 2rem;
}

.search-area {
  display: flex;
  border: 2px solid #f5f6f7;
  border-radius: 20px;
  width: 95%;
  height: 6rem;
  align-items: center;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.search-type {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  height: 3rem;
  border: 1px solid #333;
  border-radius: 5px;
  margin-left: 2rem;
  text-align: center;
  width: 7rem;
}

.search-keyword {
  margin-left: 1.5rem;
  height: 3rem;
  font-size:1.2rem;
  width: 30rem;
  outline: none;
  border-radius: 5px;
}

input::placeholder {
  font-weight: bold;
  padding-left: 2rem;
}

.search-btn {

  font-size: 18px;
  font-weight: bold;
  height: 3rem;
  width: 5rem;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 1rem;
  text-align: center;
  background-color: #fff6ec;
}

.list-area {
  border: 2px solid #f5f6f7;
  border-radius: 20px;
  width: 95%;
  margin: 0 auto;
}

.list-item {
  border: 2px solid #f5f6f7;
  border-radius: 20px;
  width: 95%;
  height: 9rem;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.right-align {
  text-align: right;
  margin-right: 1rem;
  margin-top: 0.5rem;
  font-weight: bold;
  color: black;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-weight: bold;
  margin-left: 2rem;
}

.grid-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.page {
  display: flex;
  width: 100%;
  height: 8rem;
  align-items: flex-end;
  justify-content: center;
}

.page > div {
  margin-left: 2rem;
  margin-right: 2rem;
}

.page-nav {
	margin: 0px;
	padding: 0px;
	text-align: center;
	display: flex;
	justify-content: center;
}

.page-nav>li {
	list-style: none;
	padding: 0.5rem;
}

.page-nav > li.active > a {
	color: #F00;
	font-weight: 900;
}
