
div.my-page > ul.list > li.payment{
	color: #333;
}  

div.content-grid {
    display: grid;
    grid-template-columns: 13rem 1fr;
    column-gap: 3rem;
}


div.my-tour {
    border: 2px solid #ffeedb;
    border-radius: 20px;
}

.tour-list-top {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.border {
    margin: 0 auto;
    width: 60rem;
    border-top: 1px solid #000;
}

.tour-list-top div {
    margin-left: 2rem;
}

.tour-list {
    border: 2px solid #ffeedb;
    border-radius: 20px;
    margin: 2rem;
}
.sample {
    width: 768px;
    height: 35px;
    flex-grow: 0;
    margin: 0 80px 37px 62px;
    font-family: Inter;
    font-size: 1.3rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #c6c6c6;
}

.filter-box {
    border: 2px solid #ffeedb;
    border-radius: 20px;
    margin: 0 2rem;
    flex-grow: 0;
    padding: 39px 95px 37px 78px;
}
.sample1 {
    font-family: Inter;
    font-size: 1.2rem;
    width: 0;

}
.align-button {
    font-size: 1rem;
    text-align: center;
    width: 7.1rem;
    flex-grow: 0;
    padding: 1rem 5px;
    border: solid 2px #000;
    background-color: #fff;
}

.date-buttons {
    display: flex;
    justify-content: center;
}

.payment-table {
    width: 100%;
    height: auto;
}
thead {
    background-color: rgb(218, 218, 218);
    border-spacing: 0px;
    border-style: none;
}
th{
    border-spacing: 0px;
    border-style: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
tr {
    text-align: center;
}
td {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.guide-text{
    margin: 1.5rem auto;
    text-align: center;
}