div.content-grid {
  display: grid;
  grid-template-columns: 60rem 1fr;
  column-gap: 3rem;
}

/* 외부 박스 */
div.main-content {
  /* border: 2px solid #333; */
  border-radius: 20px;
  width: 60rem;
  margin: auto;
}

div.content-title {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

div.content-title div {
  margin-left: 2rem;
}

div.content-title div h2 {
  margin: 2rem 0 0 0;
}

/* 내부 박스 */
div.regist-form {
  display: flex;
  /* border: 2px solid #333; */
  border-radius: 20px;
  margin: 0rem auto;
  width: 60rem;
  padding: 1rem 0;
  justify-content: space-between;
}

div.regist-content {
  display: flex;
  padding: 0 2rem;
  width: 100%;
  flex-direction: column;
}

div.sub-title {
  display: flex;
  padding: 1rem 3rem;
  font-size: 1.3rem;
  justify-content: flex-start;
}

div.sub-content {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  margin: 1rem 0;
  /* border: 1px solid #333; */
  border-radius: 20px;
}

/* 항목 */
/* 항목당 간격(padding) 조절 */
div.form-item {
  display: flex;
  padding: 1rem 0 1rem 0.5rem;
  margin: auto;
  width: 35rem;
  flex-direction: column;
  border: 1px solid #333;
  border-bottom: 0;
}

div.sub-content div.form-item:last-child {
  border-bottom: 1px solid #333;
}

div.form-item label {
  /* padding-left: 5rem; */
  font-size: 0.8rem;
}

/* 성 Shin, 이름 Mingyu 출력에서
   왼쪽만 적용되도록 설정 */
div.form-item span:first-child {
  /* padding-left: 5rem; */
  font-size: 0.8rem;
}

div.form-item div {
  display: flex;
  align-items: center;
}

input[type="file"] {
  width: 15rem;
  height: 2rem;
}

textarea {
  height: 10rem;
  width: 30rem;
  font-size: 1rem;
}

div.active-city-form select {
  width: 15rem;
  margin-right: 1rem;
  font-size: 1.1rem;
  text-align: center;
}

/* 지역추가나 라이센스 추가 버튼 */
button.plus-item {
  color: #fff;
  background-color: #333;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 0 1rem;
  border-radius: 15px;
}

div.license > input {
  width: 15rem;
  font-size: 1rem;
  margin-right: 1rem;
  text-align: center;
}

input.email {
  font-size: 1rem;
  width: 15rem;
  text-align: center;
}

/* 파일 업로드 부분 */
div.filebox input.filename {
  height: 2rem;
  padding: 0 0.5rem;
  width: 15rem;
}

/* 파일찾기 버튼입니다. */
div.filebox label.file-search {
  color: #fff;
  background-color: #333;
  cursor: pointer;
  font-size: 1.1rem;
  height: 2rem;
  margin-left: 10px;
  padding: 0 1rem;
  border-radius: 15px;
}

div.filebox input[type="file"] {
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

div.select-btn {
  display: flex;
  justify-content: flex-end;
}

div.select-btn button {
  margin: 1rem;
}

button.regist-button {
  color: #fff;
  background-color: #333;
  /* background-color: #ffeedb; 원본색 */
  width: 10rem;
  font-size: 1.3rem;
  border: none;
  border-radius: 25px;
}

button.cancel-button {
  background-color: #bbb;
  width: 10rem;
  font-size: 1.3rem;
  border: none;
  border-radius: 25px;
}
