.insert-main {
	border: 2px solid #f5f6f7;
	border-radius: 20px;
	padding: 1rem;
}

.insert-main img {
	width: 20rem;
	height: 20rem;
}

.select-div {
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.all-select-div {
	border-bottom: 1px solid #333;
	padding-bottom: 1rem;
}
