div.my-page {
  position: sticky;
  top: 10px;
  background-color: #fff6ec;
  height: 38rem;
  /* 상하 고정 크기 말고 리스트 추가하면 더 늘어나도록 항목에 따른 패딩을 부여  */
  /* padding-top: 1rem; */
  /* padding-bottom: 1rem; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  text-align: center;
}

.list {
  padding: 0;
}

.my-page li {
  font-size: 1.1rem;
  display: block;
  padding-bottom: 3rem;
  font-weight: bold;
  color: gray;
}

.my-page li:last-child {
  padding: 0;
}
a {
  text-decoration: none;
  color : black;
}
a:visited {
  color : black;
}

a:link {
  color : black;
}