.redColor {
	width: 80%;
	margin: 0 auto;
	color: #f00;
	text-align: center;
	font-size: small;
}

.modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	background-color: #0004;
	overflow-y: auto;
	z-index: 9999; 
}

.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	width: 50%;
	height: 60%;
	padding: 30px;
	border-radius: 20px;
}

.close {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
}

.close:hover {
	color: #f00;
}

.modal-open {
	overflow: hidden;
}

.insert-main {
  border-radius: 20px;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 45rem;
  height: 40rem;
  margin: 0 auto;
  overflow: auto;
}

.insert-main::-webkit-scrollbar {
	width: 0;
}

.requestList {
	display: flex;
	flex-direction: column;
}

.applyBox {
	display: flex;
	justify-content: space-between;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 0.5rem;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 1rem;
}

.leftModal {
	padding-left: 1rem;
}

.rightModal {
	padding-right: 1rem;
}

.viewBtn {
	border: 0;
	border-radius: 5px;
	padding: 0.3rem;
	background-color: #fff6ec;
	color: #333;
}

.viewBtn:hover {
	background-color: #fff6ee;
	cursor: pointer;
}

div.content-grid {
  display: grid;
  grid-template-columns: 13rem 1fr;
  column-gap: 3rem;
}

div.my-tour {
  border-radius: 20px;
}

.tour-list-top {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.border {
  margin: 0 auto;
  width: 95%;
  border-top: 1px solid #000;
}

.tour-list-top div {
  margin-left: 2rem;
}

.gray {
  color: gray;
}

.tour-list {
  border-radius: 20px;
  width: 95%;
  margin: 2rem;
}

.search-area {
  display: flex;
  border-radius: 20px;
  width: 95%;
  height: 6rem;
  align-items: center;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}



.search-type {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  height: 3rem;
  border: 1px solid #333;
  border-radius: 5px;
  margin-left: 2rem;
  text-align: center;
  width: 7rem;
}


.search-keyword {
  margin-left: 1.5rem;
  height: 3rem;
  font-size:1.2rem;
  width: 30rem;
  outline: none;
  border-radius: 5px;
}

.search-btn {
  font-size: 18px;
  font-weight: bold;
  height: 3rem;
  width: 5rem;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 1rem;
  text-align: center;
  background-color: #fff6ec;
}


input::placeholder {
  font-weight: bold;
  padding-left: 2rem;
}



.list-area {
  border-radius: 20px;
  width: 95%;
  margin: 0 auto;
}

.list-item {
  border: 2px solid #fff6ec;
  border-radius: 20px;
  width: 95%;
  height: 9rem;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.right-align {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  margin-right: 1rem;
  margin-top: 0.5rem;
  font-weight: bold;
  color: black;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-weight: bold;
  margin-left: 2rem;
}

.grid-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.guideBtn {
	background-color: #fff6ec;
	color: #333;
	border-radius: 5px;
	padding: 0.3rem;
	margin-bottom: 1rem;
	border: 0;
}

.guideBtn:hover {
	background-color: #fff6ee;
	cursor: pointer;
}


.page-nav {
	margin: 0px;
	padding: 0px;
	text-align: center;
	display: flex;
	justify-content: center;
}

.page-nav>li {
	list-style: none;
	padding: 0.5rem;
}

.page-nav > li.active > a {
	color: #F00;
	font-weight: 900;
}
