div.header {
  grid-column: 1 / -1;
}

div.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  border-bottom: 2px solid lightgray;
}

a {
  text-decoration: none;
  color: black;
}

div.logo {
  display: flex;
}

div.logo img {
  width: 8rem;
  height: auto;
}

div.header-center-menu {
  display: flex;
  align-items: center;
  height: 5rem;
  border-bottom: 2px solid lightgray;
}

.header-right-menu {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.header-center-menu div {
  padding: 0 2.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}
.header-center-menu div a {
  text-decoration: none;
}
.header-right-menu div {
  padding: 0 0.5rem;
}

.header-right-menu div a {
  text-decoration: none;
}

img.alram-icon {
  width: auto;
  height: 1.5rem;
}

img.message-icon {
  width: auto;
  height: 1.5rem;
}
