<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mate.user.dao.GuideDao">

	<!-- 가이드 정보 입력 -->
	<update id="updateGuideInfo" parameterType="com.mate.user.vo.RegistGuideVO">
    	UPDATE USR_INF 
		   SET USR_IS_GD = 'Y'
		     , GD_PRFL_IMG = #{gdPrflImg}
		     , USR_SLF_INTDCTN = #{usrSlfIntdctn}
		     , GD_ID_IMG = #{gdIdImg}
		     , GD_CBC_IMG = #{gdCbcImg}
		     , USR_PYP_EML = #{usrPypEml}
		     , USR_GD_EXP = #{usrGdExp}
		 WHERE USR_ID = #{usrId}
	</update>
	
	<!-- 도시명 기반으로 CITY_ID 조회 -->
	<select id="selectCityIdByName" parameterType="String" resultType="int">
			SELECT CITY_ID 
			  FROM CITIES
			 WEHRE CITY_NAME = #{cityName}
	</select>
	
	<!-- GD_ACT_CT 테이블에 가이드 활동 도시 삽입 -->
	<insert id="insertGuideCountry" parameterType="list" >
		INSERT INTO GD_ACT_CT
		     ( CT_ID
		     , USR_ID)
		VALUES
		<foreach collection="list" item="city">
			(#{city.cityId}, #{city.usrId})
		</foreach>
	</insert>
</mapper>