<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mate.user.dao.UserDao">

	<insert id="insertNewUser" parameterType="com.mate.user.vo.RegistUserVO">
		INSERT INTO USR_INF
		     ( USR_ID
		     , USR_LGN_ID
		     , USR_PWD 
		     , USR_LNM 
		     , USR_FNM 
		     , USR_GNDR 
		     , USR_EML 
		     , USR_PHN
		     , USR_BD
		     , SALT
		     , LOGIN_FAIL_COUNT)
		VALUES
		     ( 'USR-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_USR_PK.NEXTVAL, 6, 0)
		     , #{usrLgnId}
		     , #{usrPw}
		     , #{usrLnm}
		     , #{usrFnm}
		     , #{usrGndr}
		     , #{usrEml}
		     , #{usrPhn}
		     , TO_DATE(#{usrBd}, 'YYYY-MM-DD')
		     , #{salt}
		     , 0)
	</insert>
	
	<select id="getIdCount" parameterType="String" resultType="_int">
		SELECT COUNT(1)
  		  FROM USR_INF
 		 WHERE USR_LGN_ID = #{_parameter}
	</select>
	
	<select id="getEmailCount" parameterType="String" resultType="_int">
		SELECT COUNT(1)
  		  FROM USR_INF
 		 WHERE USR_EML = #{_parameter}
	</select>
	
	<select id="selectSalt" parameterType="String" resultType="String">
		SELECT SALT
 		  FROM USR_INF
 		 WHERE USR_LGN_ID = #{usrLgnId}
	</select>
	
	<select id="selectOneMember" 
			parameterType="com.mate.user.vo.LoginUserVO" 
			resultType="com.mate.user.vo.UserVO">
		SELECT USR_LGN_ID
		     , USR_PWD 
		     , SALT 
		     , LOGIN_FAIL_COUNT 
		     , TO_CHAR(LATEST_LOGIN_FAIL_DATE, 'YYYY-MM-DD HH24:MI:SS') LATEST_LOGIN_FAIL_DATE
		     , LATEST_LOGIN_IP 
		     , TO_CHAR(LATEST_LOGIN_SUCCESS_DATE, 'YYYY-MM-DD HH24:MI:SS') LATEST_LOGIN_SUCCESS_DATE
		     , USR_IS_CL
		  FROM USR_INF
		 WHERE USR_LGN_ID = #{usrLgnId}
		   AND USR_PWD = #{usrPwd}
		   AND USR_IS_CL = 'N'
	</select>
	
	<update id="updateLoginFailState" parameterType="com.mate.user.vo.LoginUserVO">
		UPDATE USR_INF
		   SET LOGIN_FAIL_COUNT = LOGIN_FAIL_COUNT + 1
		     , LATEST_LOGIN_FAIL_DATE = SYSDATE
		     , LATEST_LOGIN_IP = #{ip}
		 WHERE USR_LGN_ID = #{usrLgnId}
	</update>
	
	<select id="selectLoginRestrictionCount" parameterType="String" resultType="_int">
		SELECT COUNT(1)
		  FROM USR_INF
		 WHERE USR_LGN_ID = #{_parameter}
		   AND LOGIN_FAIL_COUNT >= 5
		   AND LATEST_LOGIN_FAIL_DATE BETWEEN SYSDATE -1/24 AND SYSDATE
	</select>
	
	<update id="upadateLoginSuccessState" parameterType="com.mate.user.vo.LoginUserVO">
		UPDATE USR_INF 
		   SET LOGIN_FAIL_COUNT = 0
		     , LATEST_LOGIN_FAIL_DATE = NULL 
		     , LATEST_LOGIN_IP = #{ip}
		     , LATEST_LOGIN_SUCCESS_DATE = SYSDATE
		 WHERE USR_LGN_ID = #{usrLgnId}
	</update>
	
	<update id="softDeleteOneUser" parameterType="String">
		UPDATE USR_INF 
		   SET USR_IS_CL = 'Y'
		     , USR_CL_DT = SYSDATE 
		 WHERE USR_LGN_ID = #{usrLgnId}
	</update>
	
</mapper>