div.tour-request-list {
  display: flex;
  justify-content: space-around;
  font-size: x-large;
}

.search-zone {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10rem;
  justify-content: space-evenly;
}

.search-area {
  display: flex;
  width: 30rem;
  height: 3.5rem;
  border: 2px solid #333;
  border-radius: 22px;
  justify-content: space-between;
}
/* 입력창의 너비 */
.search-input {
  font-size: 16px;
  width: 300px;
  border-radius: 20px;
  border: none;
  margin-left: 1rem;
  outline: none;
}

/* 포커스 시 기본 윤곽선 제거 */
.search-button {
  background-color: #ffeedb;
  color: #333;
  border: none;
  padding: 13px 25px;
  border-radius: 20px;
}

/* 버튼 호버 시 색상 변경 */
.search-button:hover {
  background-color: #d3c5b5;
}

.country-menu-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.country-menu-area input {
  padding: 1.5rem 0;
  text-align: center;
  font-size: 1.2rem;
  border: 2px solid #d7d7d7;
  border-bottom: 2px solid #333;
  background-color: #fff;
  color: #333;
}

.country-menu-area input:hover {
	color: #00a;
	cursor: pointer;
}

.country-menu-area input.checked {
  border: 2px solid #333;
  border-bottom: 0px;
  color: #00aa;
  font-weight: bold;
}

input.checked2 {
  color: #00a8;
  font-weight: bold;
}

.flex-list-insert-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.insert-tour-btn {
  background-color: #fefae0;
  padding: 0.5rem;
  font-size: small;
  border-radius: 10px;
  margin-left: 1rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.insert-tour-btn:hover {
  background-color: #faedcd;
}

.list-view-option {
  display: flex;
  font-family: Arial, sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.list-view-option input {
  background-color: #fff;
  border: 0;
  border-left: 1px solid #333;
  margin: 0;
  padding-right: 0.3rem;
  padding-left: 0.3rem;
}

.list-view-option input:first-child {
	border: 0;
}

.list-view-option input:hover {
  color: blue;
  cursor: pointer;
}

.tour-list-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 2rem;
  column-gap: 2rem;
}

.tour-box {
  margin: 1rem;
  border: 1px solid #f4f4f4;
  border-radius: 30px;
  padding: 1rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.tour-box:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transform: scale(1.01);
}

.tour-subject {
  color: rgb(104, 98, 227);
  text-align: left;
  margin-top: 1rem;
  display: block;
}

a:hover,
a:active,
a:visited,
a:link {
  text-decoration: none;
  color: #333;
}

.tour-comment {
  width: 80%;
  height: 30px;
  margin-top: 2rem;
  font-weight: 700;
  display: block;
  font-size: small;
}

.tour-country-image {
  width: 100%;
  height: 20rem;
  border-radius: 20%;
}

.tour-schedule,
.tour-deadline {
  display: inline-block;
  margin-top: 3rem;
}

.tourtime-deadline {
  display: flex;
  justify-content: space-between;
}

.tourtime-deadline p {
  font-size: small;
}

.tour-schedule {
  color: gray;
  font-family: Inter;
}

.tour-deadline {
  font-weight: 500;
  font-family: Inter;
}

.tour-cost,
.tour-fee {
  display: inline-block;
  margin-top: 1rem;
}

.tour-cost {
  font-weight: bold;
}

.tour-fee {
  margin-left: 3.2rem;
}

.tour-cost-fee {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav {
  margin: 0;
  margin-top: 2rem;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-nav > li {
  list-style: none;
  padding: 0.5rem;
  flex: 1, 1, 0;
}

.page-nav > li.active > a {
  color: #f00a;
  font-weight: 900;
}
