<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mate.mail.dao.EmailDao">

	<insert id="insertNewAuthCode" parameterType="com.mate.mail.vo.EmailVO">
		 INSERT INTO AUTH_MAIL
		      ( AUTH_MAIL_ID
		      , AUTH_MAIL_EMAIL 
		      , AUTH_MAIL_AUTHCODE 
		      , AUTH_MAIL_ISSUETIME
		      , AUTH_MAIL_VERIFIED)
		 VALUES
		      (  'EML-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_AUTH_MAIL_PK.NEXTVAL, 6, 0)
		      , #{email}
		      , #{authCode}
		      , SYSDATE
		      , 'N')
	</insert>
	
	<select id="getAuthCodeByEmail" parameterType="String" resultType="com.mate.mail.vo.EmailVO">
		SELECT AUTH_MAIL_AUTHCODE AS authCode
		     , TO_CHAR(AUTH_MAIL_ISSUETIME, 'YYYYMMDD HH24:MI:SS') AS issueTime
		  FROM ( SELECT AUTH_MAIL_AUTHCODE
		              , AUTH_MAIL_ISSUETIME
		           FROM AUTH_MAIL
		          WHERE AUTH_MAIL_EMAIL = #{email}
		            AND AUTH_MAIL_VERIFIED = 'N'
		          ORDER BY AUTH_MAIL_ISSUETIME DESC)
		 WHERE ROWNUM = 1 
	</select>
	
	<update id="invalidatePrevAuthCode" parameterType="String">
		 UPDATE AUTH_MAIL
		    SET AUTH_MAIL_VERIFIED = 'Y'
		  WHERE AUTH_MAIL_EMAIL = #{email}
		    AND AUTH_MAIL_VERIFIED = 'N'
	</update>
	
	<update id="markAuthCodeAsVerified" parameterType="String">
    UPDATE AUTH_MAIL
       SET AUTH_MAIL_VERIFIED = 'Y'
     WHERE AUTH_MAIL_EMAIL = #{email} AND AUTH_MAIL_VERIFIED = 'N'
    </update>
	
	<update id="updateTempPassword" parameterType="com.mate.mail.vo.EmailVO">
		UPDATE EMAIL_AUTH
		   SET AUTH_MAIL_AUTHCODE = #{authCode}
		     , AUTH_MAIL_ISSUETIME = #{issueTime}
		 WHERE AUTH_MAIL_EMAIL = #{email}
	</update>
	
</mapper> 